In [15]:
import numpy as np
import pandas as pd

In [16]:
 #--> READING THE FILES OF 2200 crops and 22 different type of crops each crops contains 100 data.
# --> WITH their N, P, K, TEMPERATURE, HUMIDITY, PH RAINFALL AND LABEL IS GIVEN OUTPUT WHICH WILL BE THE PREDICT. and the drug they are taking

In [17]:
df_crop=pd.read_csv("Crop_recommendation.csv")
df_crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [18]:
df_crop.shape

(2200, 8)

In [19]:
df_crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [20]:
df_crop.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [21]:
df_crop.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [22]:
#-->Information about the DataFrame's structure,
#-->including the number of non-null entries in each column, data types, and memory usage

#--> Data type and checking null in dataset.
print(df_crop.info())

#-->N,K,P,TEMP,HUMIDITY,PH,RAINFALL are numerical columns.
#-->LABEL are categorical columns.

 #-->From the results,there are no missing/null value in this dataset

#Data Set Description 

#--> There are 6 variables in this data set:

#-->1 categorical variables[LABEL]and
#-->7 continuous variables[N,K,P,TEMP,HUMIDITY,PH,RAINFALL]

#-->In statistics and data analysis, variables are typically classified into two main types:
#-->   categorical variables and continuous variables. 
#-->    These classifications are important for understanding the nature of the data and determining
#-->appropriate statistical methods and visualization techniques.


#-->Categorical Variables:

#-->Definition: Categorical variables represent data that can be divided into distinct categories or groups.
#-->    These categories are often labels or names that don't have a natural order or numerical value associated with them.
#->Examples:

#-->Nominal: Categorical variables with no inherent order or ranking. 
#-->Examples include colors (red, blue, green), gender (male, female), or types of fruits (apple, banana, orange).



#-->Continuous Variables:

#-->Definition: Continuous variables represent data that can take on an infinite number of values within a given range.
#-->    These variables are typically measured and can have fractional or decimal values.
#-->Examples:
#-->Interval: Continuous variables where the difference between any two values is meaningful, but there is no true zero point.
#-->    Examples include temperature (measured in Celsius or Fahrenheit), IQ scores, or calendar years

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB
None

In [23]:
# UNIVARIATE ANALYSIS

In [28]:
df_crop.label.value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [29]:
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
numeric_df = df_crop.select_dtypes(include=['number'])
corr = numeric_df.corr()

In [34]:
corr

,N,P,K,temperature,humidity,ph,rainfall
N,1.000000,-0.231460,-0.140512,0.026504,0.190688,0.096683,0.059020
P,-0.231460,1.000000,0.736232,-0.127541,-0.118734,-0.138019,-0.063839
K,-0.140512,0.736232,1.000000,-0.160387,0.190859,-0.169503,-0.053461
temperature,0.026504,-0.127541,-0.160387,1.000000,0.205320,-0.017795,-0.030084
humidity,0.190688,-0.118734,0.190859,0.205320,1.000000,-0.008483,0.094423
ph,0.096683,-0.138019,-0.169503,-0.017795,-0.008483,1.000000,-0.109069
rainfall,0.059020,-0.063839,-0.053461,-0.030084,0.094423,-0.109069,1.000000

In [ ]:
sns.heatmap(corr,annot=True,cbar=True,cmap='coolwarm')

In [ ]:
sns.displot(df_crop['N'])
plt.show()

In [ ]:
#ENCODING

df_crop_dict = {
    'rice': 1,
    'maize': 2,
    'jute': 3,
    'cotton': 4,
    'coconut': 5,
    'papaya': 6,
    'orange': 7,
    'apple': 8,
    'muskmelon': 9,
    'watermelon': 10,
    'grapes': 11,
    'mango': 12,
    'banana': 13,
    'pomegranate': 14,
    'lentil': 15,
    'blackgram': 16,
    'mungbean': 17,
    'mothbeans': 18,
    'pigeonpeas': 19,
    'kidneybeans': 20,
    'chickpea': 21,
    'coffee': 22,
}
df_crop['crop_num']=df_crop['label'].map(df_crop_dict)

In [ ]:
df_crop['crop_num'].value_counts()

In [ ]:
df_crop.head()

In [ ]:
# TRAIN TEST SPLIT

In [ ]:
X=df_crop.drop(['crop_num','label'],axis=1)
y=df_crop['crop_num']

In [ ]:
X

In [ ]:
y

In [ ]:
y.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
X_train

In [ ]:
# SCALE THE FEATURES USING MINMAXSCALER

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()

X_train = ms.fit_transform(X_train)
X_test = ms.transform(X_test)

In [ ]:
X_train

In [ ]:
#STANDARIZATION

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()


sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

# create instances of all models
models = {
    'Logistic Regression': LogisticRegression(),
    'Naive Bayes': GaussianNB(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
   
}


for name, md in models.items():
    md.fit(X_train,y_train)
    ypred = md.predict(X_test)
    
    print(f"{name}  with accuracy : {accuracy_score(y_test,ypred)}")

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
ypred = rfc.predict(X_test)
accuracy_score(y_test,ypred)

In [ ]:
# import pickle
# pickle.dump(rfc,open('model.pkl','wb'))
# pickle.dump(ms,open('minmaxscaler.pkl','wb'))
# pickle.dump(sc,open('standscaler.pkl','wb'))

In [ ]:
import joblib

In [ ]:
file_name  = "crop"

In [ ]:
joblib.dump(rfc,'crop')

In [ ]:
predt=joblib.load('crop')

In [ ]:
arr=[[500,200,30.0,500,50,100,10]]
cp=predt.predict(arr)

In [ ]:
cp